@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --primary: #0284c7;
    --primary-foreground: #f0f9ff;

    --secondary: #10b981;
    --secondary-foreground: #f0fdf4;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0284c7;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020617;
    --foreground: #f8fafc;

    --card: #020617;
    --card-foreground: #f8fafc;

    --popover: #020617;
    --popover-foreground: #f8fafc;

    --primary: #0ea5e9;
    --primary-foreground: #020617;

    --secondary: #22c55e;
    --secondary-foreground: #020617;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #0ea5e9;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}